h1, p {
  text-align: center;
  color: #64cdff;
  font-weight: bold;
}

.col-xs-5 {
  margin-top: 10px !important;
}

.row {
  margin-top: 50px;
}

.par-top {
  margin-top: 10px;
}
.par-bottom {
  margin-bottom: 10px;
}

.container {
  border: solid 2px #64cdff;
  margin-right: 5px;
  margin-bottom: 5px;
  background-color: white;
  border-radius: 25px;
}

.left-offset {
  margin-left: 12.5%;
}
