<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <h1>{{ dateString }}</h1>
  </div>
  <div class="col-xs-3 left-offset container">
    <p class="par-top">{{ 'Años' }}</p>
    <p class="par-bottom">{{ years }}</p>
  </div>
  <div class="col-xs-3 container">
    <p class="par-top">{{ 'Meses'  }}</p>
    <p class="par-bottom">{{ months }}</p>
  </div>
  <div class="col-xs-3 container">
    <p class="par-top">{{ 'Días'  }}</p>
    <p class="par-bottom">{{ days }}</p>
  </div>
  <div class="col-xs-3 left-offset container">
    <p class="par-top">{{ 'Horas'  }}</p>
    <p class="par-bottom">{{ hours }}</p>
  </div>
  <div class="col-xs-3 container">
    <p class="par-top">{{ 'Minutos'  }}</p>
    <p class="par-bottom">{{ minutes }}</p>
  </div>
  <div class="col-xs-3 container">
    <p class="par-top">{{ 'Segundos'  }}</p>
    <p class="par-bottom">{{ seconds }}</p>
  </div>
</div>
